.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  width: 100%;
  height: 12px;
  padding: 10px;
  border: none;
  outline: 0;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #e68d19;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header__nav a {
  text-decoration: none;
}
.header__optionLineOne {
  font-size: 13px;
  font-style: italic;
}
.header__optionLineTwo {
  font-size: 15px;
  font-weight: 700;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: rgb(248, 160, 46);
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(250, 225, 225);
}
